@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #556372;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;

}

.info h1 {
    color: #FF004D;
    font-weight: 600;
}

.info ul {
    display: flex;
}

.info ul li {
    list-style: none;
}

.info ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
}

.info ul li:hover a {
    color: #ff4242;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.info ul li:last-child a {
    margin: 0;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* .link {
    text-decoration: none;
    color: #fff;
    font: 15px
    ;
    padding: 1rem 2rem;
    position: relative;
}

.link::before,
.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #FF004D;
    transform: scaleX(0);
    transition: all 1.1s ease;
}

.link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.link::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after {
    transform: scaleX(1);
} */

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main h4 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.main h4 span {
    color: red;
    text-decoration: underline;
}
.main p.title {
    font-size: 2.6rem;
    font-weight: 600;
    color: white;
    margin-top: 8px;
}

.main p.subtitle {
    font-size: 1rem;
    color: #ccc;
    margin-top: 1.1rem;
}
.main img {
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}
